@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

    <table>
        @foreach (var process in Model.ProcessList!)
        {
            <tr>
                <td>
                    <a asp-page="/ProcessDetails" asp-route-id="@process.Id">
                        @process.ProcessName
                    </a>
                </td>
            </tr>
        }
    </table>
